body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homepage-gradient-bg {
  background: linear-gradient(45deg, #6EE7B7, #ffffff);
  min-height: 100vh;
}

.navbar-gradient {
  background: linear-gradient(90deg, #6EE7B7, #3B4371);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating-element {
  animation: float 4s ease-in-out infinite;
}

.button-hover-effect:hover {
  transform: scale(1.05);
  background-color: #3B4371; 
}
